<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marvel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <style>
    .heading {
      display: flex;
      justify-content: center;
      top: 20px;
    }

    .card {
      margin: 10px;
    }
  </style>
  <body>
    <h1 class="heading">{{ .title }}</h1>
    <section class="container text-center">
      <form action="/search" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="button-addon2" name="search">
          <input type="submit" class="btn btn-primary" id="button-addon2" value="Search">
        </div>
      </form>
      <br>
      <div class="flex-row">
      <form action="/search" method="post">
        <ul class="pagination justify-content-center">
        <input type="hidden" id="prev" value="0"/>
        <li class="page-item">
          <input type="button" class="page-link" id="prevButton" onclick="prevPageVal(this)" value="Previous" disabled/>
        </li>
        <li class="page-item active">
          <input type="submit" class="page-link"  id="submitId" value="0" name="submitId">
        </li>
        <input type="hidden" id="number" value="0"/>
        <li class="page-item">
          <input type="button" class="page-link" id="button" onclick="incrementValue()" value="Next" />
        </li>
      </ul>
      </form>
      </div>
    </form>
      <br>
      <div class="row justify-content-center">
        {{ range .data }}
      <div class="card" style="width: 18rem; padding: 10px" data-toggle="tooltip" title="{{ .Description }}">
        <img src="{{ .Thumbnail.Path }}.jpg" class="card-img-top" style="width:265px; height: 200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ .Name }}</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Comics
              <span class="badge bg-primary rounded-pill">{{ .Comics.Available }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Series
              <span class="badge bg-primary rounded-pill">{{ .Series.Available }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Stories
              <span class="badge bg-primary rounded-pill">{{ .Stories.Available }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Events
              <span class="badge bg-primary rounded-pill">{{ .Events.Available }}</span>
            </li>
          </ul>
        </div>

        <!-- Tried to implement modal box to show character details , again stuck with form submit and page reload thing -->

        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">More facts!</button> -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details about {{ .Name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body row">
                {{ range .Urls }}
                  <h2>{{ .Type }}:&nbsp;</h2>
                  <p><a href="{{ .UrlData }}" target="_blank">{{ .UrlData }}</a></p>
                {{ end }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      {{ end }}
    </div>
    <br>
    <br>
    </section>
  </body>
    <script>
      $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

      // Simple previous and next pagination functionality
      // P.S -> This code will not work because I have to submit my form on click so that's how go will collect the 
      // clicked value from that button, but it will always work in appropriate way
      // Suggestions for this implementation
      // Here's the link where I have code this work a like prev and page functionality - https://jsfiddle.net/nikzayn/gtn4ku90/2/
      limit = 8;
      page_no = 1;

      let value;
      let buttonVal;

      function prevPageVal(btn) {
        if (parseInt(value) == 0) {
          document.getElementById(btn.id).disabled = true;
        }
        value = parseInt(document.getElementById('prev').value, 10);
        value = ((page_no - 1) - 1) * limit;
        page_no -= 1
        if (parseInt(value) == 0) {
          document.getElementById(btn.id).disabled = true;
          buttonVal = btn;
        }
        document.getElementById('prev').value = value;
        document.getElementById('submitId').value = value;
        console.log(document.getElementById('prev').value);
      }

      function incrementValue() {
        document.getElementById('prevButton').disabled = false;
        if (parseInt(value) === 0) {
          document.getElementById(buttonVal.id).disabled = false;
        }
        value = parseInt(document.getElementById('number').value, 10);
        value = ((page_no + 1) - 1) * limit;
        page_no += 1;
        document.getElementById('number').value = value;
        document.getElementById('submitId').value = value;
        console.log(document.getElementById('number').value);
      }

  </script>
</html>